apiVersion: v2
name: devtron-utilities
description: Provides essential infrastructure and security utilities such as Nginx/AWS Load Balancer, Devtron Backup, Minio (Blob Storage), Network Policy, Cluster Auto Scaler (Karpenter), and more.  

type: application
version: 0.0.1
appVersion: "0.0.1"
sources:
- https://github.com/kubernetes/ingress-nginx
- https://aws.github.io/eks-charts
- https://charts.min.io/
dependencies:
- name: ingress-nginx
  version: "4.12.0"
  repository: https://kubernetes.github.io/ingress-nginx
  condition: ingress-nginx.enabled
- name: cluster-autoscaler
  version: "9.46.0"
  repository: https://kubernetes.github.io/autoscaler
  condition: cluster-autoscaler.enabled
- name: karpenter
  version:  "1.2.1"
  repository: oci://public.ecr.aws/karpenter
  condition: karpenter.enabled
- name: aws-load-balancer-controller
  version: "1.11.0"
  repository: https://aws.github.io/eks-charts
  condition: aws-load-balancer-controller.enabled
- name: aws-node-termination-handler
  version: "0.21.0"
  repository: https://aws.github.io/eks-charts
  condition: aws-node-termination-handler.enabled
- name: minio
  version: "5.4.0"
  repository: https://charts.min.io/
  condition: minio.enabled
- name: kcert
  version: "1.0.7"
  repository: https://nabsul.github.io/helm
  condition: kcert.enabled
- name: argocd-certificate-refresh
  version: "0.10.8"
  repository: https://helm.devtron.ai/
  condition: argocd-certificate-refresh.enabled
- name: k8s-shield
  version: "0.1.0"
  repository: https://helm.devtron.ai/
  condition: k8s-shield.enabled
- name: devtron-backups
  version: "0.2.5"
  repository: https://helm.devtron.ai/
  condition: devtron-backups.enabled
- name: devtron-generic-helm
  version: "0.10.1"
  repository: https://helm.devtron.ai/
  condition: devtron-generic-helm.enabled
- name: holmes-ai
  version: "0.8.1"
  repository: https://robusta-charts.storage.googleapis.com
  condition: holmes-ai.enabled


maintainers:
- email: badal@devtron.ai
  name: Badal Kumar