{{- if .Values.resourcePolicies.limitResourcePolicy.enabled }}
{{- $maxCPU := .Values.resourcePolicies.limitResourcePolicy.maxCPULimit | default "1000m" }}
{{- $maxMemory := .Values.resourcePolicies.limitResourcePolicy.maxMemoryLimit | default "2Gi" }}
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingAdmissionPolicy
metadata:
  name: {{ include "k8s-shield.fullname" . }}-restrict-resource-limits
spec:
  failurePolicy: Fail
  matchConstraints:
    matchPolicy: Equivalent
    namespaceSelector:
      matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: In
          values:
          {{- range .Values.resourcePolicies.limitResourcePolicy.namespaces }}
          - {{ . | quote }}
          {{- end }}
    objectSelector: {}
    resourceRules:
      - apiGroups:
        {{- range $.Values.resourcePolicies.WithoutResource.apiGroups }}
        - {{ . | quote }}
        {{- end }}
        apiVersions:
        - v1
        operations:
        {{- range .Values.resourcePolicies.limitResourcePolicy.operations }}
        - {{ . | quote }}
        {{- end }}
        resources:
        {{- range .Values.resourcePolicies.limitResourcePolicy.resources }}
        - {{ . | quote }}
        {{- end }}
        scope: Namespaced
  validations:
    - expression: |-
        (has(object.metadata.labels) && object.metadata.labels['{{ .Values.bypassLabel.key }}'] == '{{ .Values.bypassLabel.value }}') 
        has(object.spec.template) ?
        (
          !has(object.spec.template.spec.containers[0].resources.limits) || (
            (!has(object.spec.template.spec.containers[0].resources.limits.cpu) ||
             quantity(object.spec.template.spec.containers[0].resources.limits.cpu).compareTo(quantity('{{ $maxCPU }}')) <= 0) &&
            (!has(object.spec.template.spec.containers[0].resources.limits.memory) ||
             quantity(object.spec.template.spec.containers[0].resources.limits.memory).compareTo(quantity('{{ $maxMemory }}')) <= 0)
          )
        ) :
        (
          !has(object.spec.containers[0].resources.limits) || (
            (!has(object.spec.containers[0].resources.limits.cpu) ||
             quantity(object.spec.containers[0].resources.limits.cpu).compareTo(quantity('{{ $maxCPU }}')) <= 0) &&
            (!has(object.spec.containers[0].resources.limits.memory) ||
             quantity(object.spec.containers[0].resources.limits.memory).compareTo(quantity('{{ $maxMemory }}')) <= 0)
          )
        )
      message: "Resource limits exceed the maximum allowed: CPU <= {{ $maxCPU }} and memory <= {{ $maxMemory }}, set label {{ .Values.bypassLabel.key }}: {{ .Values.bypassLabel.value }} to allow"
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingAdmissionPolicyBinding
metadata:
  name: {{ include "k8s-shield.fullname"
   . }}-restrict-resource-limits-binding
spec:
  policyName: {{ include "k8s-shield.fullname" . }}-restrict-resource-limits
  validationActions:
  {{- range .Values.resourcePolicies.limitResourcePolicy.validationActions }}
  - {{ . }}
  {{- end }}
{{- end }}
