apiVersion: v2
name: security
description: A Helm chart for devtron to enable security integration
keywords:
  - kubernetes
  - security
  - k8s
  - scanning
  - container registry
  - image scanning
  - source code scanning
type: application
maintainers:
  - name: Pawan Kumar
    email: pawan.mehta@devtron.ai
sources:
  - https://github.com/devtron-labs/charts
version: 0.2.0
appVersion: "0.1.2"
dependencies:
- name: clair
  version: "0.x.x"
  repository: https://helm.devtron.ai
  condition: clair.enabled
