apiVersion: v2
name: devtron-essentials
description: Includes critical components like Rollout, Service Accounts, Image Pull Secrets, Workflow Controller, and ArgoCD and postgres for streamlined CI/CD operations.  

type: application
sources:
  - https://github.com/argoproj/argo-helm
  - https://helm.devtron.ai
  - https://github.com/groundhog2k/helm-charts/blob/postgres-0.3.17/charts/postgres/values.yaml
version: 0.0.5
appVersion: "0.0.2"
dependencies:
- name: postgres
  version: "0.3.17"
  repository: https://groundhog2k.github.io/helm-charts/
  condition: postgresql.enabled
  alias: postgresql
- name: argo-cd
  version: "5.13.9"
  repository: https://argoproj.github.io/argo-helm
  condition: argo-cd.enabled
- name: argo-rollouts
  version: "2.39.0"
  repository: https://argoproj.github.io/argo-helm
  condition: argo-rollout.enabled
- name: rollout
  version: "0.14.7"
  repository: https://helm.devtron.ai
  condition: devtron-rollout.enabled
  alias: devtron-rollout
- name: devtron-generic-helm
  version: "0.10.1"
  repository: https://helm.devtron.ai
  condition: rawYaml.enabled
  alias: rawYaml
- name: argo-workflow
  version: "0.1.6"
  repository: https://helm.devtron.ai
  condition: argo-workflow.enabled
maintainers:
- email: badal@devtron.ai
  name: Badal Kumar
- email: pawan.mehta@devtron.ai
  name: Pawan Kumar
