{{- if .Values.global.AZURE.enabled }}
{{- if .Values.postgres_backup.enabled }}
{{ if semverCompare ">=1.21-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: batch/v1
{{ else -}}
apiVersion: batch/v1beta1
{{ end -}}
kind: CronJob
metadata:
  name: postgres-app-backup-cronjob
  namespace: devtroncd
spec:
  schedule: {{ .Values.global.schedule }}
  jobTemplate:
    spec:
      template:
        spec:
          initContainers:
          - name: postgres-app-backup-cronjob
            image: postgres:12
            volumeMounts:
            - mountPath: /tmp
              name: psql-volume
            env:
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  key: PG_PASSWORD
                  name: {{ .Values.postgres_backup.secretName }}
            imagePullPolicy: Always
            args:
            - /bin/bash
            - -c
            - pg_dumpall -h postgresql-postgresql.devtroncd --exclude-database=clairv4 -p 5432 -U postgres --no-privileges > /tmp/backup.tar;
          containers:
          - name: az-cli-for-upload
            image: {{default quay.io/devtron/k8s-utils:ubuntu-aws-cli .Values.azure.image }}
            volumeMounts:
            - mountPath: /tmp
              name: psql-volume
            env:
            {{- with .Values.global.AZURE }}
            - name: AZURE_BLOB_ACCOUNT_NAME
              value: "{{ .AZURE_BLOB_ACCOUNT_NAME }}"
            - name: AZURE_ACCOUNT_KEY
              value: {{ .AZURE_ACCOUNT_KEY }}
            - name: AZURE_BLOB_CONTAINER_FOR_POSTGRES
              value: {{ .AZURE_BLOB_CONTAINER_FOR_POSTGRES }}
            - name: AZURE_BLOB_CONTAINER_FOR_ARGOCD
              value: {{ .AZURE_BLOB_CONTAINER_FOR_ARGOCD }}
            {{- end }}
            imagePullPolicy: Always
            args:
            - /bin/bash
            - -c
             {{- if $.Values.global.AZURE.encryption.enabled }}
            - date1=$(date +%Y%m%d-%H%M); gpg -c --batch --passphrase {{ .Values.global.AZURE.encryption.passphrase }} /tmp/backup.tar; rm -rvf /tmp/backup.tar; mv /tmp/backup.tar.gpg /tmp/backup-$date1.tar.gpg; az storage blob upload --account-name $AZURE_BLOB_ACCOUNT_NAME --container-name $AZURE_BLOB_CONTAINER_FOR_POSTGRES --file /tmp/backup-$date1.tar.gpg --account-key $AZURE_ACCOUNT_KEY; 
            {{- else }} 
            - date1=$(date +%Y%m%d-%H%M); mv /tmp/backup.tar /tmp/backup-$date1.tar; az storage blob upload --account-name $AZURE_BLOB_ACCOUNT_NAME --container-name $AZURE_BLOB_CONTAINER_FOR_POSTGRES --file /tmp/backup-$date1.tar --account-key $AZURE_ACCOUNT_KEY; 
            {{- end }}
          volumes:
          - name: psql-volume
            emptyDir: {}
          restartPolicy: OnFailure
{{- end }}          
---
{{- if .Values.argocd_backup.enabled }}
{{ if semverCompare ">=1.21-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: batch/v1
{{ else -}}
apiVersion: batch/v1beta1
{{ end -}}
kind: CronJob
metadata:
    name: argocd-app-backup-cronjob
    namespace: devtroncd
spec:
  schedule: {{ .Values.global.schedule }}
  jobTemplate:
    spec:
      template:
        spec:
          initContainers:
          - name: argocd-app-backup-job
            image: argoproj/argocd:v1.8.1
            volumeMounts:
            - mountPath: /cache
              name: argocd-volume
            env:
            imagePullPolicy: Always
            args:
            - /bin/bash
            - -c
            - argocd-util export --namespace devtroncd > /cache/backup.yaml;
          containers:
          - name: az-cli-for-upload
            image: {{default quay.io/devtron/k8s-utils:ubuntu-aws-cli .Values.azure.image }}
            volumeMounts:
            - mountPath: /cache
              name: argocd-volume
            env:
            {{- with .Values.global.AZURE }}
            - name: AZURE_BLOB_ACCOUNT_NAME
              value: "{{ .AZURE_BLOB_ACCOUNT_NAME }}"
            - name: AZURE_ACCOUNT_KEY
              value: {{ .AZURE_ACCOUNT_KEY }}
            - name: AZURE_BLOB_CONTAINER_FOR_POSTGRES
              value: {{ .AZURE_BLOB_CONTAINER_FOR_POSTGRES }}
            - name: AZURE_BLOB_CONTAINER_FOR_ARGOCD
              value: {{ .AZURE_BLOB_CONTAINER_FOR_ARGOCD }}
            {{- end }}
            imagePullPolicy: Always
            args:
            - /bin/bash
            - -c
            {{- if $.Values.global.AZURE.encryption.enabled }}
            - date1=$(date +%Y%m%d-%H%M); gpg -c --batch --passphrase {{ .Values.global.AZURE.encryption.passphrase }} /cache/backup.yaml ;rm -rvf /cache/backup.yaml ;mv /cache/backup.yaml.gpg /cache/backup-$date1.yaml.gpg; az storage blob upload --account-name $AZURE_BLOB_ACCOUNT_NAME --container-name $AZURE_BLOB_CONTAINER_FOR_ARGOCD --file /cache/backup-$date1.yaml.gpg --account-key $AZURE_ACCOUNT_KEY;  
            {{- else }} 
            - date1=$(date +%Y%m%d-%H%M); mv /cache/backup.yaml /cache/backup-$date1.yaml; az storage blob upload --account-name $AZURE_BLOB_ACCOUNT_NAME --container-name $AZURE_BLOB_CONTAINER_FOR_ARGOCD --file /cache/backup-$date1.yaml --account-key $AZURE_ACCOUNT_KEY;  
            {{- end }}
          volumes:
          - name: argocd-volume
            emptyDir: {}
          restartPolicy: OnFailure
          serviceAccountName: {{ .Values.argocd_backup.serviceAccountName }}
{{- end }}
{{- end }}