kubeval-chart:
  runs-on: ubuntu-latest
  needs:
    - lint-chart
    - lint-docs
  strategy:
    matrix:
      k8s:
        - v1.12.10
        - v1.13.12
        - v1.14.10
        - v1.15.11
        - v1.16.8
        - v1.17.4
  steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Run kubeval
      env:
        KUBERNETES_VERSION: ${{ matrix.k8s }}
      run: .github/kubeval.sh
